<div class="row wh-page-title-bar">
</div>
<!-- breadcrumb -->
<div class="container">
    <div class="cbp-row wh-breadcrumbs-bar">
        <div class="cbp-container">
            <div class="one whole wh-padding wh-breadcrumbs-wrapper">
                <div class="wh-breadcrumbs align-left">
                    <nav role="navigation" aria-label="Breadcrumbs" class="breadcrumb-trail breadcrumbs" itemprop="breadcrumb"><ul class="trail-items" itemscope="" itemtype="http://schema.org/BreadcrumbList"><meta name="numberOfItems" content="2"><meta name="itemListOrder" content="Ascending"><li itemprop="itemListElement" itemscope="" itemtype="http://schema.org/ListItem" class="trail-item trail-begin"><a href="http://ed.aislinthemes.com/classes/" rel="home" itemprop="item"><span itemprop="name">Home</span></a><meta itemprop="position" content="1"></li><li itemprop="itemListElement" itemscope="" itemtype="http://schema.org/ListItem" class="trail-item trail-end"><span itemprop="item"><span itemprop="name">Contact us</span></span><meta itemprop="position" content="2"></li></ul></nav>				</div>
            </div>
        </div>
    </div>
</div>
<div class="container about-us">
    <div class="row">
        <div class="col-md-8">
            <div class="row">
                <div class="col-md-6">
                    <div class="image-div mb-4">
                        <img class="img-fluid" width="768" height="510" src="http://ed.aislinthemes.com/app/uploads/2017/02/slajder-20.jpg" alt="">
                    </div>
                    <div>
                        <h4>Core Beliefs</h4>
                    </div>
                    <div>
                        <p>Accepts applications from prospective parents throughout the year and those interested are encouraged to contact the school by way of telephone or e-mail by using the contact form to get information. In order to gain more insight into our program, parents should attend.
                            a school tour before applying.
                        </p>
                    </div>
                    <!-- <div>
                        <div class="image-div animated fadeIn">
                            <figure class="wpb_wrapper vc_figure">
                                <div class="vc_single_image-wrapper   vc_box_border_grey">
                                    <div class="vc-zoom-wrapper" style="position: relative; overflow: hidden;">
                                        <img width="768" height="510" src="http://ed.aislinthemes.com/app/uploads/2017/02/slajder-20.jpg" class="vc_single_image-img attachment-full" alt="" loading="lazy" title="slajder-20" srcset="http://ed.aislinthemes.com/app/uploads/2017/02/slajder-20.jpg 768w, http://ed.aislinthemes.com/app/uploads/2017/02/slajder-20-300x199.jpg 300w" sizes="(max-width: 768px) 100vw, 768px"><img src="http://ed.aislinthemes.com/app/uploads/2017/02/slajder-20-768x510.jpg" class="zoomImg" style="position: absolute; top: -205.954px; left: -363.26px; opacity: 0; width: 768px; height: 510px; border: none; max-width: none; max-height: none;">
                                    </div>
                                </div>
                            </figure>
                        </div>
                    </div> -->
                </div>
                <div class="col-md-6">
                    <div class="image-div mb-4">
                        <img class="img-fluid" width="768" height="510" src="http://ed.aislinthemes.com/app/uploads/2017/02/slajder-20.jpg" alt="">
                    </div>
                    <div>
                        <h4>Core Beliefs</h4>
                    </div>
                    <div>
                        <p>Accepts applications from prospective parents throughout the year and those interested are encouraged to contact the school by way of telephone or e-mail by using the contact form to get information. In order to gain more insight into our program, parents should attend.
                            a school tour before applying.
                        </p>
                    </div>
                </div>
                <div class="col-md-6">
                    <div class="image-div">
                        <img class="img-fluid" width="768" height="510" src="http://ed.aislinthemes.com/app/uploads/2017/02/slajder-20.jpg" alt="">
                    </div>
                    <div>
                        <h4>Core Beliefs</h4>
                    </div>
                    <div>
                        <p>Accepts applications from prospective parents throughout the year and those interested are encouraged to contact the school by way of telephone or e-mail by using the contact form to get information. In order to gain more insight into our program, parents should attend.
                            a school tour before applying.
                        </p>
                    </div>
                </div>
                <div class="col-md-6">
                    <div class="image-div">
                        <img class="img-fluid" width="768" height="510" src="http://ed.aislinthemes.com/app/uploads/2017/02/slajder-20.jpg" alt="">
                    </div>
                    <div>
                        <h4>Core Beliefs</h4>
                    </div>
                    <div>
                        <p>Accepts applications from prospective parents throughout the year and those interested are encouraged to contact the school by way of telephone or e-mail by using the contact form to get information. In order to gain more insight into our program, parents should attend.
                            a school tour before applying.
                        </p>
                    </div>
                </div>
            </div>
        </div>
        <div class="wh-sidebar d-lg-block d-md-none d-sm-none  one fourth wh-padding">
            <nav class="site-nav children-links clearfix">
            <ul>
                <li class="page_item page-item-1568"><a href="#">Admission</a></li>
                <li class="page_item page-item-331"><a href="#">At a glance</a></li>
                <li class="page_item page-item-659"><a href="#">Faculty and staff</a></li>
                <li class="page_item page-item-348"><a href="#">Vision and mission</a></li>
                <li class="page_item page-item-648"><a href="#">Principal’s message</a></li>
                <li class="page_item page-item-651"><a href="#">History</a></li>
                <li class="page_item page-item-664"><a href="#">Map and directions</a></li>
                <li class="page_item page-item-661 border-0"><a href="#">Accreditation</a></li>
            </ul>
            </nav>
        </div>
    </div>
</div>
