<footer>
    <div class="container">
        <div class="row gx-5 py-5">
            <div class="col-lg-3 col-md-6 col-sm-12">
                <div>
                    <div>
                        <h2 class="title">Do you have a contact ?</h2>
                    </div>
                    <div>
                        <h3>Get in touch with us to discuss it:</h3>
                    </div>
                    <div>
                        <p>Sed ut perspiciatis unde omnis iste natus error sit lorem dol voluptatem accusantium doloremque ludantium. Sed ut perspiciatis unde</p>
                    </div>
                </div>
            </div>
            <div class="col-lg-3 col-md-6 col-sm-12">
                <div>
                    <div>
                        <h2>Education:</h2>
                    </div>
                    <div>
                        <h3>Grainshore Road, Hatston
                            Industrial Estate, Kirkwall,
                            Huston KW15 1FL</h3>
                    </div>
                    <div>
                        <p>Sed ut perspiciatis unde omnis iste natus error sit lorem dol voluptatem accusantium doloremque ludantium. Sed ut perspiciatis unde</p>
                    </div>
                </div>
            </div>
            <div class="col-lg-3 col-md-6 col-sm-12">
                <div>
                    <div>
                        <h2>Our Links</h2>
                    </div>
                    <ul class="ps-0">
                        <li>
                            <u>T: +44 (0) 1856 888 666</u>
                        </li>
                        <li>
                            <u>E: info@education.co.uk</u>
                        </li>
                        <li>
                            <u>F: Follow us on Facebook</u>
                        </li>
                    </ul>
                </div>
            </div>
            <div class="col-lg-3 col-md-6 col-sm-12">

            </div>

        </div>

    </div>
    <div class="border-top">
        <div class="container">
            <div class="row pt-3 gx-5 copyright">
                <div class="col-12">
                    <div>
                        <p class="text-center">Copyright © {{date.getFullYear()}}. Developed with <i class="fas fa-heart text-danger"></i> by professionals</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</footer>
