<div class="cbp-row wh-page-title-bar">
    <div class="container">
        <div class="one whole wh-padding wh-page-title-wrapper">
            <h1 class="page-title">Contact us</h1>
        </div>    
    </div>
</div>
<!-- breadcrumb -->
<div class="container">
    <div class="cbp-row wh-breadcrumbs-bar">
        <div class="cbp-container">
            <div class="one whole wh-padding wh-breadcrumbs-wrapper">
                <div class="wh-breadcrumbs align-left">
                    <nav role="navigation" aria-label="Breadcrumbs" class="breadcrumb-trail breadcrumbs" itemprop="breadcrumb"><ul class="trail-items" itemscope="" itemtype="http://schema.org/BreadcrumbList"><meta name="numberOfItems" content="2"><meta name="itemListOrder" content="Ascending"><li itemprop="itemListElement" itemscope="" itemtype="http://schema.org/ListItem" class="trail-item trail-begin"><a href="http://ed.aislinthemes.com/classes/" rel="home" itemprop="item"><span itemprop="name">Home</span></a><meta itemprop="position" content="1"></li><li itemprop="itemListElement" itemscope="" itemtype="http://schema.org/ListItem" class="trail-item trail-end"><span itemprop="item"><span itemprop="name">Contact us</span></span><meta itemprop="position" content="2"></li></ul></nav>				</div>
            </div>
        </div>
    </div>
</div>


<section id="contact-us-info" class="mb-4">
    <div class="container">
        <div class="row pt-5">
            <div class="col-lg-4 col-md-12">
                <img width="100" class="h-100" src="assets/images/school-contact-1.jpg" alt="">
            </div>
            <div class="col-lg-8 col-md-12">
                <div class="row g-0">
                    <div class="col-lg-6 col-md-6 col-xs-12">
                        <div class="h-100 p-5 welcome-to-school" style="background-color: rgb(240,240,242);">
                            <div class="mb-4">
                                <h2 class="">Welcome to School</h2>
                            </div>
                            <div>
                                <p>Hillsborough Campus Main Office</p>
                            </div>
                            <div>
                                <ul class="">
                                    <li><span><i aria-hidden="true" class="fa-solid fa-circle-dot"></i></span> <span class="ms-1">Email: ed@schoool.com</span></li>
                                    <li><span><i aria-hidden="true" class="fa-solid fa-circle-dot"></i></span> <span class="ms-1">Phone: 516-441-4300</span></li>
                                    <li><span><i aria-hidden="true" class="fa-solid fa-circle-dot"></i></span> <span class="ms-1">Contact Person: Tim Burney</span></li>
                                    <li><span><i aria-hidden="true" class="fa-solid fa-circle-dot"></i></span> <span class="ms-1">Email: ed@schoool.com</span></li>
                                </ul>
                            </div>
                            <div>
                                <p>Admission</p>
                            </div>
                            <div>
                                <ul>
                                    <li><span><i aria-hidden="true" class="fa-solid fa-circle-dot"></i></span><span class="ms-1">Email: ed@schoool.com</span></li>
                                    <li><span><i aria-hidden="true" class="fa-solid fa-circle-dot"></i></span><span class="ms-1">Phone: 516-441-4300</span></li>
                                    <li><span><i aria-hidden="true" class="fa-solid fa-circle-dot"></i></span><span class="ms-1">Contact Person: Tim Burney</span></li>
                                    <li><span><i aria-hidden="true" class="fa-solid fa-circle-dot"></i></span><span class="ms-1">Email: ed@schoool.com</span></li>
                                </ul>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-6 col-md-6 col-xs-12">
                        <div class="h-100 p-5 welcome-to-school" style="background-color: rgb(240,240,242);">
                            <div class="working-hours">
                                <div class="mb-4 border-0">
                                    <h4 class="">Working Hours</h4>
                                </div>
                                <div>
                                    <span><span><i aria-hidden="true" class="fas fa-caret-right me-2"></i></span> <span class="day">MONDAY</span></span>
                                    <div class="ps-3 pt-2 time"><h5>8:00 - 16:00</h5></div>
                                </div>
                                <div>
                                    <span><span><i aria-hidden="true" class="fas fa-caret-right me-2"></i></span> <span class="day">TUESDAY</span></span>
                                    <div class="ps-3 pt-2 time"><h5>8:00 - 16:00</h5></div>
                                </div>
                                <div>
                                    <span><span><i aria-hidden="true" class="fas fa-caret-right me-2"></i></span> <span class="day">WEDNESDAY</span></span>
                                    <div class="ps-3 pt-2 time"><h5>8:00 - 16:00</h5></div>
                                </div>
                                <div>
                                    <span><span><i aria-hidden="true" class="fas fa-caret-right me-2"></i></span> <span class="day">THURSDAY</span></span>
                                    <div class="ps-3 pt-2 time"><h5>8:00 - 16:00</h5></div>
                                </div>
                                <div class="border-0">
                                    <span><span><i aria-hidden="true" class="fas fa-caret-right me-2"></i></span> <span class="day">FRIDAY</span></span>
                                    <div class="ps-3 pt-2 time"><h5>8:00 - 16:00</h5></div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="row mt-4">
            <div class="col-lg-4 h-100">
                <div class="map-responsive">
                    <div style="width: 100%;" class="mapouter"><div class="gmap_canvas"><iframe width="600" height="500" id="gmap_canvas" src="https://maps.google.com/maps?q=2880%20Broadway,%20New%20York&t=&z=13&ie=UTF8&iwloc=&output=embed" frameborder="0" scrolling="no" marginheight="0" marginwidth="0"></iframe><a href="https://123movies-to.org"></a><br><style>.mapouter{position:relative;text-align:right;height:500px;width:600px;}</style><a href="https://www.embedgooglemap.net">embedgooglemap.net</a><style>.gmap_canvas {overflow:hidden;background:none!important;height:500px;width:600px;}</style></div></div>
                </div>
                <div class="send-email mt-4 py-3">
                    <div class="d-flex align-items-center">
                        <i aria-hidden="true" class="fas fa-envelope"></i>                        
                        <div class="flex-grow-1 ps-3" >
                            <h4 class="p-0 m-0 position-relative">Send us an email</h4>
                        </div>
                    </div>
                </div>
                <div class="register py-3">
                    <div class="d-flex align-items-center">
                        <i aria-hidden="true" class="fas fa-sign-in-alt"></i>                        
                        <div class="flex-grow-1 ps-3" >
                            <h4 class="p-0 m-0 position-relative">Register</h4>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-lg-8">
                <div class="h-100 contact-form">
                    <div class="mb-4">
                        <h4 class="title">Contact Us Today</h4>
                    </div>
                    <div>
                        <h4 class="title2">Learn more about us, complete the online inquiry form.</h4>
                    </div>
                    <div class="row mt-5">
                        <div class="col-lg-6">
                            <div class="form-group mb-3">
                                <label for="">Your Name (required)</label>
                                <input class="form-control" type="text">
                            </div>
                            <div class="form-group mb-3">
                                <label for="">Your Email (required)</label>
                                <input class="form-control" type="text">
                            </div>
                            <div class="form-group">
                                <label for="">Subject (required)</label>
                                <input class="form-control" type="text">
                            </div>
                        </div>
                        <div class="col-lg-6">
                            <div class="form-group mb-3">
                                <label for="">Your Message</label>
                                <textarea class="form-control"  name="" id="" cols="30" rows="10"></textarea>
                            </div>
                            <div>
                                <button class="float-end">Submit</button>
                            </div>
                        </div>
                    </div>
                </div>

            </div>
        </div>
    </div>
</section>